* {
  margin: 0;
  font-family: "poppins";
}

:root {
  --dark-black: #303841;
  --light-black: #3a4750;
  --supper-black: #222831;
  --dark-yellow: #f6c90e;
  --grey: #eeeeee;
}

Link {
  text-decoration: none;
}
