.main-container-about {
  width: 100%;
  background: var(--dark-black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-main1-about {
  display: flex;
  width: 70%;
  height: 100%;
  background: var(--supper-black);
}

.main-container-small-about {
  width: 95%;

  background: rgb(8, 8, 32);
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.about-details {
  padding: 10px;
  color: white;
  width: 95%;
}
.text {
  text-align: center;
}
.about-container1 {
  padding: 20px;
  background-color: var(--light-black);
}
.about-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.details-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.details-flex h4 {
  font-size: 15px;
}
.fa-angle-double-right {
  margin-top: 10px;
  margin-right: 10px;
}
.fab {
  padding: 20px;
  color: var(--dark-yellow);
}
.about-buttons {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.buttons {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--dark-black);
  padding: 10px 20px;
  border-radius: 30px;
}
.services-container {
  padding: 20px;
  background-color: var(--light-black);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.flex-service {
  display: flex;
}
.servise {
  background-color: var(--dark-yellow);
  margin: 10px;
  padding: 10px;
}
